body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  padding 50px
  div
    span.con
      button.btn
        border: 0
      button.sub-btn
        border: 1
  ul
    li
      a#uno.menu-item.m
        color: red
    li
      a
  h1
  h2
    span

a
  color #00B7FF

